<div class="page-header">
	<%= link_to 'Cadastrar', new_aluno_path, class: 'btn btn-primary pull-right' %>
	<h1>Alunos</h1>
</div>

<table class='table table-striped table-bordered table-hover table-condensed'>

	<thead>
		<tr>
			<th>id</th>
			<th>nome</th>
			<th>matricula</th>
			<th>data de nascimento</th>
			<th>nome da mãe</th>
			<th>fone</th>
			<th>opções</th>
		</tr>
	</thead>
		
	<tbody>
	<% @alunos.each do |aluno| %>
		<tr>
			<td>
				<%= aluno.id %>
			</td>
			<td>
				<%= aluno.nome_completo %>
			</td>
			<td>
				<%= aluno.matricula %>
			</td>
			<td>
				<%= aluno.data_nascimento %>
			</td>
			<td>
				<%= aluno.nome_da_mae %>
			</td>
			<td>
				<%= aluno.fone %>
			</td>
			<td class="text-center">
				<%= link_to 'Show', aluno, class: 'btn btn-info btn-sm' %>
				<%= link_to 'Edit', edit_aluno_path(aluno), class: 'btn btn-success btn-sm' %>
				<%= link_to 'Destroy', aluno, class: 'btn btn-danger btn-sm', method: :delete %>
			</td>
		</tr>
	<%end%>
	</tbody>
</table>